{% extends '/site/base.html.twig' %}

{% block title %}WEvent | Mes amis{% endblock %}

{% block stylesheets %}
	<!-- Select2 -->
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap/select2/select2.min.css') }}">
	<script src="{{ asset('plugins/bootstrap/select2/select2.min.js')}}"></script>
{% endblock %}

{% block titrePage %}

	<div class="row">
		<strong class='col-4'>Mes amis</strong>
		<!-- SEARCH FORM -->
		<form class="form-inline col-8">
			<div class="input-group input-group-md">
				<input class="form-control form-control-navbar" type="text" id="recherche" placeholder="Rechercher des amis" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-navbar" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block content %}

	{% if user.amis is empty %}
		<p>Vous n'avez pas d'amis...</p>
		<a class="btn btn-info" href="{{path('toutlemondeamis')}}">Ajouter amis</a>
	{% else %}
		{% for ami in user.amis %}
			<p>{{ ami.nom }}</p>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block javascript %}
	<script>
		var liste = [
      {% for u in users %}
        {{ u.prenom }} {{ u.nom }},
      {% endfor %}
    ];

    $('#recherche').autocomplete({source: liste, minLenght: 3});
	</script>
{% endblock %}
