<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}WEvent | Accueil{% endblock %}</title>

  <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- JQVMap -->
    <link rel="stylesheet" href="{{ asset('plugins/jqvmap/jqvmap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.min.css') }}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{ asset('plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
    <!-- summernote -->
    <link rel="stylesheet" href="{{ asset('plugins/summernote/summernote-bs4.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700') }}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('dist/css/bootstrap.css') }}" rel="stylesheet" >
    <!-- Ma feuille de style -->
    <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet" >
    {% block stylesheets %}
    {% endblock %}
    <!-- jQuery -->
    <script src="{{ asset('plugins/jquery/jquery.min.js')}}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</head>

<body class="hold-transition sidebar-mini layout ">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="btn btn-outline-info my-2 my-sm-0" onClick="Déconexion()">Déconnexion</i></a>
      </li>
    </ul>
  </nav>
   <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="{{path('calendrier')}}" class="brand-link">
      <span class="brand-text font-weight-light">WEvent</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="{{path('profil')}}" class="d-block">{{user.nom}} {{user.prenom}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
             <a href="#" class="nav-link active">
               <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Mon espace
                 <i class="right fas fa-angle-left"></i>
                </p>
             </a>
              <ul class="nav nav-treeview">
                 <li class="nav-item">
                 <a href="{{path('calendrier')}}" class="nav-link {% if app.request.requesturi==path('calendrier')%}active{% endif %}">
                   <i class="far fa-calendar-alt nav-icon"></i>
                    <p>Mon calendrier</p>
                 </a>
                </li>
                <li class="nav-item">
                 <a href="{{path('profil')}}" class="nav-link {% if app.request.requesturi==path('profil')%}active{% endif %}">
                   <i class="far fa-circle nav-icon"></i>
                    <p>Profil</p>
                 </a>
                </li>               
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open ">
             <a href="#" class="nav-link active">
               <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                 Mes événements
                 <i class="right fas fa-angle-left"></i>
                </p>
             </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                 <a href="{{path('aVenir')}}" class="nav-link {% if app.request.requesturi==path('aVenir')%}active{% endif %}">
                   <i class="fas fa-calendar-day nav-icon"></i>
                    <p>Événement futur </p>
                 </a>
                </li>
                <li class="nav-item">
                 <a href="{{path('Passé')}}" class="nav-link {% if app.request.requesturi==path('Passé')%}active{% endif %}">
                   <i class="fas fa-calendar-day nav-icon"></i>
                    <p>Événement passé </p>
                 </a>
                </li>
                </ul>
            </li>
         </ul>
                <li class="nav-item">
                 <a href="{{path('new_evenement')}}" class="nav-link {% if app.request.requesturi==path('new_evenement')%}active{% endif %}">
                   <i class="far fa-calendar-plus nav-icon"></i>
                    <p>Créer un événement</p>
                 </a>
               </li>
               <li class="nav-item">
                 <a href="{{path('amis')}}" class="nav-link {% if app.request.requesturi==path('amis')%}active{% endif %}">
                   <i class="fas fa-user-friends nav-icon"></i>
                    <p>Mes amis ({{ user.amis | length }})</p>
                  </a>
                </li>
                <li class="nav-item">
                 <a href="{{path('liste_invitations')}}" class="nav-link {% if app.request.requesturi==path('liste_invitations')%}active{% endif %}">
                   <i class="fas fa-envelope nav-icon"></i>
                    <p>Invitations
                    <span class="badge badge-info right">{{ nb_invit }}</span>
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                 <a href="{{path('notification')}}" class="nav-link {% if app.request.requesturi==path('notification')%}active{% endif %}">
                   <i class="far fa-circle nav-icon"></i>
                    <p>Notification</p>
                 </a>
                </li>
              </ul>
            <li class="nav-item">
                 <a href="mailto:yoann_lecarrer@hotmail.fr" class="nav-link">
                   <i class="fas fa-exclamation-triangle nav-icon"></i>
                    <p>Signaler un problème</p>
                  </a>
            </li>
            </li>
         </ul>
       </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-8">
            <br/><br/><br/>
            <h1 class="m-0 text-dark">{% block titrePage %}<strong>Notification</strong>{% endblock %}</h1> 
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {% block content %}
        
        {% endblock %}
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2019 <a href="">WEventCorp</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- ChartJS -->
<script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('plugins/sparklines/sparkline.js') }}"></script>
<!-- JQVMap -->
<script src="{{ asset('plugins/jqvmap/jquery.vmap.min.js')}}"></script>
<script src="{{ asset('plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ asset('plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- Summernote -->
<script src="{{ asset('plugins/summernote/summernote-bs4.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('dist/js/pages/dashboard.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>

<script type="text/javascript" language="javascript">
    
function Déconexion(){
    if ( confirm( "êtes-vous sûr de vouloir vous déconnecter" ) ) {
        window.location='{{path('home')}}'
    } else {
        // Code à éxécuter si l'utilisateur clique sur "Annuler" 
    }
}
</script>
