{% extends "site/base.html.twig" %}
{% block title %}WEvent | Mon calendrier{% endblock %}
{% block titrePage %}<strong>Mon calendrier</strong>{% endblock %}
{% block content %}
    <div id="calendar-holder"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                defaultView: 'dayGridMonth',
                aspectRatio:2,
                defaultDate: '2020-01-01',
                editable: false,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            {% for event in evenements %}
                calendar.addEvent({
                title: '{{event.evenement.nom}}',
                start: '{{event.evenement.dateDebut|date("Y-m-d")}}',
                allDay: true,
                url: '{{path("show_evenement", {"id" :event.evenement.id})}}'
              });
            {% endfor %}
            calendar.render();
        });
    </script>
{% endblock %}