{% extends '/site/base.html.twig' %}
{% block title %}WEvent | Liste de mes {{titre}}{% endblock %}
{% block titrePage %}
    <strong>Liste de mes {{titre}} :</strong>
{% endblock %}

{% block content %}
  {% if evenements is null %}
    {% if titre=='événements passés' %}
    <p> Nous sommes désolé de vous annoncer que vous n'avez aucun événement passé... <br>
        N'hésitez pas à en créer un en <a href="{{ path('nouvelEvenement')}}"> cliquant ici</a> et à inviter vos amis ! </p>
    {% else %}
      <p> Nous sommes désolé de vous annoncer que vous n'avez aucun événement de prévu... <br>
        N'hésitez pas à en créer un en <a href="{{ path('nouvelEvenement')}}"> cliquant ici</a> et à inviter vos amis ! </p>
  {% endif %}
  {% else %}
    
     <div class="content">
      <div class="container mt-4">
        <div class="row">
        {% for event in evenements %}
        <div class="col-md-6">
        <div class="card">
        <article>
        {% if event.evenement.filename %}
          <img src="../{{vich_uploader_asset(event.evenement, 'imageFile')}}" class="card-img-top"alt="{{event.evenement.nom}}:image" style="width:100%; height:auto"/ >
          {% else %}
          <img src="../{{'/images/evenement/empty.jpg'}}" class="card-img-top"alt="{{event.evenement.nom}}:defaultimage" style="width:100%; height:auto"/ >
        {% endif %}
        <div class="card-body">
          <div class="card-title"><p> Votre événement : {{event.evenement.nom}} <br></div>
           <div class "card-text">
           à la date du {{event.evenement.dateDebut | date('d/m/Y à H:i')}} <br>
           se déroulera à l'adresse suivante {{event.evenement.adresse}}, {{event.evenement.codePostal}}, {{event.evenement.ville}} <br>
           <a href="{{path('show_evenement', {'id':event.evenement.id,'nom':event.evenement.nom})}}">Cliquez ici pour avoir plus de détails.</a>
           </p>
           </div>
           
        </div>
        </article>
        </div>
        </div>
    {% endfor %}
    </div>
    </div>
    </div>
    {% endif %}
{% endblock %}