{% extends '/site/base.html.twig' %}

{% block title %}WEvent | Création d'un événement{% endblock %}

{% block stylesheets %}
  <!-- Datepicker CSS -->
  <link href="{{ asset('plugins/bootstrap/datepicker/datepicker3.css') }}" rel="stylesheet" >
  <style>
    .adresse{
      padding-left: 30px !important;
    }
  </style>
{% endblock %}

{% block titrePage %}<strong>Création d'un événement </strong>{% endblock %}

{% block content %}
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}
  <div id="partie1">
    <div class="form-group">
      {{ form_label(form.nom, "Nom *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.nom) }}
      <div class="col-sm-6">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Ex: 25 ans de Robert', 'onkeyup':'champRequis()'}}) }}
      </div>
    </div>

    <div class="form-group">
      <div class='col-sm-6'>
        <p><input type="checkbox" id="checkboxTheme" onClick="theme(this)"> Ajouter un thème à mon événement</p>
      </div>

      <div class="col-sm-6">
        {{ form_widget(form.theme, {'attr': {'class': 'form-control', 'placeholder': 'Saisissez un thème', 'hidden':'true'}}) }}
      </div>
    </div>

    <div class="form-group">
      <b>{{ form_label(form.dateDebut, "Date et horaire *", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</b>
      {{ form_errors(form.dateDebut) }}
      <div class="col-sm-6">
        {{ form_widget(form.dateDebut)}}
      </div>
    </div>

    <br>
    <div class="form-group">
      {{ form_label(form.adresse, "Adresse *", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.adresse) }}
      <div class="col-sm-6">
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'onkeyup':'champRequis()'}}) }}
      </div>
      <div class="row">
        <div class="col-sm-2 adresse">
          {{ form_label(form.codePostal, "Code postal *", {'label_attr': {'class': 'control-label'}}) }}
          {{ form_errors(form.codePostal) }}
          {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'onkeyup':'champRequis()'}}) }}
        </div>
        <div class="col-sm-4">
          {{ form_label(form.ville, "Ville *", {'label_attr': {'class': 'control-label'}}) }}
          {{ form_errors(form.ville) }}
          {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'onkeyup':'champRequis()'}}) }}
        </div>
      </div>
    </div>

    <br>
    <div class="form-group">
      <b>{{ form_label(form.imageFile, "Image", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</b>
      {{ form_errors(form.imageFile) }}
      <div class="col-sm-6">
        {{ form_widget(form.imageFile)}}
      </div>
    </div>

    <br>
    <div class="form-group">
      {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.description) }}
      <div class="col-sm-6">
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <br>
    <div class="form-group col-sm-6">
      <a class='btn btn-secondary col-sm-3' href="{{path('aVenir')}}">Annuler</a>
      <div class="btn btn-info float-right col-sm-3" id="suivant" onClick="partieSuivante()" disabled='true'>Suivant</div> 
    </div>
    <br>
  </div>

  <div id="partie2" hidden="true">
    <div class="col-sm-6">
    {% if user.amis is empty %}
      <p>Oups, vous n'avez pas d'amis... pour en ajouter <a href="#">cliquez ici</a></p>
    {% else %}

    <div class="card card-info">
      <div class="card-header">
        <h3 class="card-title">Invitez des amis à votre événement</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
          {% for ami in user.amis %}
            <tr>
              <td>{{ami.prenom}} {{ami.nom}}</td>
              <td><input type="checkbox" name="invitations[]" value={{ami.id}}></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    {% endif %}
    </div>
    <br>
    <div class="form-group col-sm-6">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('nouvelEvenement') }}">
      <div class="btn btn-secondary col-sm-3" id="precedent" onClick="partiePrecedente()">Précédente</div> 
      {{ form_widget(form.valider, {'attr': {'class': 'btn btn-info float-right col-sm-3'}}) }}
    </div>
    <br>

  </div>

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>

<!-- AdminLTE for demo purposes -->
{% block javascript %}
  <!-- Datepicker JS -->
  <script src="{{ asset('plugins/bootstrap/datepicker/bootstrap-datepicker.js') }}"></script>

  <script>
    jQuery(document).ready(function() {
      $('.js-datepicker').datepicker({
        format : 'dd-mm-yyyy'
      });
    });

    function theme(checkbox){
      if(checkbox.checked == true){
        document.getElementById('evenement_theme').hidden = false;
      }else{
        document.getElementById('evenement_theme').hidden = true;
      }
    }

    function champRequis(){

      var nom = document.getElementById('evenement_nom').value;
      var adresse = document.getElementById('evenement_adresse').value;
      var codePostal = document.getElementById('evenement_codePostal').value;
      var ville = document.getElementById('evenement_ville').value;

      if(nom.replace(/\s+/, '').length
        && adresse.replace(/\s+/, '').length
        && codePostal.replace(/\s+/, '').length
        && ville.replace(/\s+/, '').length){
          document.getElementById('suivant').disabled = false;
      }else{
        document.getElementById('suivant').disabled = true;
      }
    }


    function partieSuivante(){
      document.getElementById('partie1').hidden = true;
      document.getElementById('partie2').hidden = false;
    }

    function partiePrecedente(){
      document.getElementById('partie1').hidden = false;
      document.getElementById('partie2').hidden = true;
    } 

  </script>
{% endblock %}
{% endblock %}