{% extends '/site/base.html.twig' %}
{# Voir si on ajoute de l'ajax pour pré-remplir le formulaire de modif // possibilité de supprimer l'évenement ici j'pense#}
{% block title %}WEvent | Modification de mon événement{% endblock %}
{% block titrePage %}<strong>Modification de mon événement :</strong>{% endblock %}
{% block content %}{% endblock %}
