{% extends '/site/base.html.twig' %}
{% block title %}WEvent | {{evenement.nom}} {% endblock %}
{% block titrePage %}
    <strong>{{evenement.nom}}</strong>
{% endblock %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fas fa-check"></i>
        {{message}}
        </div>
    {% endfor %}
{% if not evenement.filename is null %}
    <img src="../../{{vich_uploader_asset(evenement,'imageFile')}}" alt="Image de l'événement {{evenement.nom}}"/>
    {% else %}
    <img src="../../{{'/images/evenement/empty.jpg'}}" class="card-img-top"alt="{{evenement.nom}}:defaultimage" style="width:100%; height:auto"/ >
        
{% endif %}

{% if not evenement.theme is null %}
    <h3>Votre thème est : {{evenement.theme}}</h3>
{% endif %}
{% if not evenement.dateDebut is null %}
    <h4>Votre événement se déroulera le {{evenement.dateDebut |date('d/m/Y à H:i')}}
{% else %}
    <h4>Attention la date n'a pas encore été défini par l'organisateur.</h4>
{% endif %}
<h5>{{evenement.nom}} aura lieu : {{evenement.adresse}} {{evenement.codePostal}} {{evenement.ville}}</h5>
<p>{{evenement.description}}</p>
{% endblock %}