{% extends '/site/base.html.twig' %}

{% block title %}WEvent | Mes invitations{% endblock %}

{% block stylesheets %}
	<!-- Select2 -->
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap/select2/select2.min.css') }}">
	<script src="{{ asset('plugins/bootstrap/select2/select2.min.js')}}"></script>
{% endblock %}

{% block titrePage %}<strong class='col-4'>Invitations</strong>{% endblock %}

{% block content %}

	{% if invitations is empty %}
		<p>Vous n'avez reçue aucune invitation pour le moment.</p>
	{% else %}
    <div class="col-sm-6">
    <div class="card card-info">
      <div class="card-body">
        <table class="table">
          <tbody>
          {% for i in invitations %}
            <tr>
              <td>{{i.evenement.nom}}<br>
                {{i.evenement.dateDebut | date('d/m/Y à H:i')}}<br>
                ({{i.etat}})
              </td>
              <td><a class="btn btn-info" href="{{path('accepterInvit', {'id':i.id})}}">Accepter</a></td>
              <td><a class="btn btn-danger" href="{{path('refuserInvit', {'id':i.id})}}">Refuser</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    </div>
	{% endif %}
{% endblock %}


