{% extends "site/base.html.twig" %}
{% block title %}WEvent | Notification{% endblock %}
    {% block stylesheets %}
    {% endblock %}
    {% block titrePage %}<strong>Notification</strong>{% endblock %} 
        {% block content %}
        {% if invitations is null %}
            <p>Vous n'avez aucune notification pour le moment.</p>
        {% endif %}
        {% for i in invitations %}
          {% if i.etat == 'Acceptée' %}
          <div class="alert alert-success alert-dismissible">
              <i class="icon fas fa-check"></i>
              {{i.destinataire.prenom}} {{i.destinataire.nom}} a accepté votre invitation pour {{i.evenement.nom}}
              <a class="btn btn-default btn-sm" href="{{path('deleteInvit', {'id':i.id})}}">Ok</a>
          </div>
          {% elseif i.etat == 'Refusée' %}
          <div class="alert alert-danger alert-dismissible">
              <i class="icon fas fa-times"></i>
              {{i.destinataire.prenom}} {{i.destinataire.nom}} a refusé votre invitation pour {{i.evenement.nom}}
              <a class="btn btn-default btn-sm" href="{{path('deleteInvit', {'id':i.id})}}">Ok</a>
          </div>
          {% endif %}
      {% endfor %}
        {% endblock %}
      
{% block javascript %}{% endblock %}

