{% extends '/site/base.html.twig' %}
{% block title %}WEvent | Mon profil{% endblock %}
{% block titrePage %}<strong>Mon profil</strong>{% endblock %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fas fa-check"></i>
        {{message}}
        </div>
    {% endfor %}
    <h4>Vous pouvez modifier vos informations personnelles suivantes :</h4>
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{form_start(form)}}
    <div class="container">
    <div class="col-md-8 order-md-1">
        
        <div class="mb-3">
         {{form_row(form.Prenom,{'label': 'Prénom','attr':{'value':user.prenom}})}}
        </div>
        
        <div class="mb-3">
         {{form_row(form.Nom,{'label': 'Nom','attr':{'value':user.nom}})}}
        </div>
        
        <div class="mb-3">
         {{form_row(form.Email, {'label': 'Adresse email','attr':{'value':user.email}})}}
        </div>

        {{form_errors(form)}}
        {% if not erreur is null %}
            <strong>{{erreur}}</strong>
        {% endif %}
        <hr class="mb-4">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('profil') }}">
        <button class="btn btn-primary btn-lg btn-block" type="submit"  onClick="return confirm('Vous êtes sûr(e) de vouloir réaliser ces changements ?');"
        >Modifier mon profil</button>
    </div>
  </div>
      {{form_end(form)}}
{% endblock %}