{#page d'inscription#}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>WEvent | Inscription</title>

      
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('dist/css/bootstrap.css') }}" rel="stylesheet" >

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
     
    .container{
        position: relative;
        left: 200px;
    }
    </style>
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
    
<!-- Menu Desktop -->
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{path('home')}}">WEvent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="{{path('login')}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Se connecter</button>
      </form>
    </div>
  </nav>
</header>

{% block body %}
  <body class="bg-light">
      <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Formulaire d'inscription</h2>
  </div>
    {{form_start(form)}}
    <div class="container">
    <div class="col-md-8 order-md-1">
        
        <div class="mb-3">
         {{form_row(form.prenom, {'label': 'Prénom','attr':{'placeholder':'Votre prénom'}})}}
        </div>
        
        <div class="mb-3">
         {{form_row(form.nom, {'label': 'Nom','attr':{'placeholder':'Votre nom'}})}}
        </div>
        
        <div class="mb-3">
         {{form_row(form.email, {'label': 'Adresse email','attr':{'placeholder':'Votre adresse email'}})}}
        </div>
          
        <div class="mb-3">
         {{form_row(form.email, {'label': 'Adresse email','attr':{'placeholder':'Votre adresse email'}})}}
        </div>
          
        <div class="mb-3">
         {{form_row(form.password, {'label': 'Mot de passe', 'attr':{'placeholder':'********'}})}}
        </div>
          
        <div class="mb-3">
         {{form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr':{'placeholder':'********'}})}}
        </div>
        
        <div class="mb-3">
        {{ form_row(form.captchaCode) }}
        </div>
    
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">S'inscrire</button>
    </div>
  </div>
      {{form_end(form)}}

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019-2020 Wevent</p>
    <ul class="list-inline">
    </ul>
  </footer>
</div>
</body>
{% endblock %}
</html>
