<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Helios by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ asset('dist/css/noscript.css') }}" /></noscript>
        
        <style>
        
    .roundedImage{
        overflow:hidden;
        -webkit-border-radius:150px;
        -moz-border-radius:150px;
        border-radius:100px;
        width:200px;
        height:200px;
        position: relative;
        left: 80px;
    }

    Section {
        top:20px;
        bottom: 20px;
    }
            
    h4{
        font-size: 2em;
    }
    </style>
        
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{path('home')}}">WEvent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{path('inscription')}}">S'inscrire</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0" action="{{path('login')}}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Se connecter</button>
      </form>
    </div>
  </nav>
</header>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/jdg.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Oragniser des MetteUp</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/ninja.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3>Concours de cosplay<a href="#"></a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/mariage.png') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Mariage</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/moto.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Sortie en moto </a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/étudiant.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Soirée étudiante</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/attraction.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Parc d'atraction</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/voyage.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Voyage</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/sport.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Evénement sportif</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/chasse.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Chasse</a></h3>
							</header>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{{ asset('dist/img/bar.jpg') }}" height="350" alt="" /></a>
							<header>
								<h3><a href="#">Soirée entre amis</a></h3>
							</header>
						</article>

					</div>
				</section>

 <hr class="featurette-divider">

			<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <div class="roundedImage">
        <img class="d-block w-100" src="{{ asset('dist/img/mathis') }}" alt="First slide">
        </div>
        <h4>Chesnel Mathis</h4>
        <p>Étudiant en L3 à la recherche d'un stage de 4 mois à partir du 1er avril 2020.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="roundedImage">
        <img class="d-block w-100" src="{{ asset('dist/img/yoann') }}" alt="Second slide">
        </div>
        <h4>Le Carrer Yoann</h4>
        <p>Etudiant L3 Miage à Rennes à la recherche d'un stage et d'une alternance à partir du 1er avril 2020.</p>
      </div><!--/.col-lg-4 -->
      <div class="col-lg-4">
        <div class="roundedImage">
        <img class="d-block w-100" src="{{ asset('dist/img/audrey') }}" alt="Thirst slide">
        </div>
        <h4>Le Marouille Audrey</h4>
        <p>Étudiante en L3 à la recherche d'un stage de 4 mois à partir du 1er avril 2020.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Organiser des événements !<span class="text-muted"></span></h2>
        <p class="lead">Crée des événéments et ajouter y vos amis.</p>
      </div>
      <div class="col-md-5">
          <img class="d-block w-100" src="{{ asset('dist/img/creation') }}" alt="Second slide">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Consulter vos évenements à venir!</h2>
        <p class="lead">Une fois connecter, un calendrier vous permet de consulter vos événement à venir ou passer.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img class="d-block w-100" src="{{ asset('dist/img/calendrier.png') }}" alt="Second slide">
      </div>
    </div>

    <hr class="featurette-divider">
                
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Retrouver facilement vos amis !</h2>
      </div>
      <div class="col-md-5">
          <img class="d-block w-100" src="{{ asset('dist/img/famille') }}" alt="Second slide" >
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Retour en haut</a></p>
    <p>&copy; 2019-2020 Chesnel Mathis, Le Carrer Yoann, Le Marouille Audrey</p>
  </footer>

		<!-- Scripts -->
    <script src="{{ asset('dist/js/yoann/jquery.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/jquery.dropotron.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/browser.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/breakpoints.min.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/util.js') }}"></script>
    <script src="{{ asset('dist/js/yoann/main.js') }}"></script>

	</body>
</html>
        
<!--       _
       .__(.)< (MEOW)
        \___)   
 ~~~~~~~~~~~~~~~~~~-->
    
